@charset "UTF-8";
/*Обнуление стилей*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  background: url("../img/Background.jpg") top no-repeat;
}

.page {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1048px;
  margin: 0 auto;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__logo {
  color: #252b42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-align: left;
  padding: 35px 130px 0 0;
}
.nav__navigation {
  padding: 40px 0px 0 0;
}
.nav__link {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0 10px;
}

.first-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-block__body {
  max-width: 510px;
  -webkit-box-flex: columns;
      -ms-flex: columns;
          flex: columns;
  margin: 115px 0 75px 0;
}
.first-block__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 58px;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 0 0 44px 0;
}
.first-block__text {
  color: #737373;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: left;
  max-width: 380px;
  margin: 0 0 40px 0;
}
.first-block__btn1 {
  display: inline-block;
  width: 185px;
  height: 48px;
  background-color: #ff7b47;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding: 10px 0;
  line-height: 28px;
}
.first-block__btn2 {
  display: inline-block;
  width: 157px;
  height: 48px;
  border: 1px solid #0d5c63;
  margin: 0 0 0 10px;
  color: #0d5c63;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 10px 0;
  line-height: 28px;
}

.second-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.second-block__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  max-width: 328px;
}

.card_item {
  background: #fff;
}

.item__row {
  padding: 35px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__image {
  margin: 0 0 13px 0;
}
.item__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  text-align: left;
  margin: 0 0 10px 0;
}
.item__text {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.last_item {
  background: #0d5c63;
}
.last_item__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-align: left;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text {
  margin: 25px 0;
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}
.footer__icons img {
  margin: 0 10px;
}

.third-block {
  background: #fafafa;
}
.third-block__title {
  margin: 80px 0 10px 0;
}
.third-block__subtitle {
  margin: 0 265px;
}
.title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 57px;
  text-align: center;
}

.subtitle {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
}

.thrd_card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 80px 0;
}
.thrd_card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 230px;
}
.thrd_card__image {
  margin: 30px 0 10px 0;
}
.thrd_card__number {
  color: #252b42;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 57px;
  text-align: center;
  margin: 0 0 10px 0;
}
.thrd_card__text {
  color: #737373;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
}

.fouth-block__title {
  margin: 125px 0 10px 0;
}
.fouth-block__subtitle {
  margin: 0 285px 45px 285px;
}
.fouth_card {
  padding: 0 0 81px 0;
}

.fouth_card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fouth_card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 231px;
}
.fouth_card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fouth_card__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: left;
  margin: 30px 70px 15px 29px;
}
.fouth_card__subtitle {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: left;
  margin: 0 30px 30px 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.five-block__title {
  margin: 100px 0 15px 0;
}
.five-block__subtitle {
  margin: 0 268px 102px 268px;
}
.five-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 135px 0;
}
.five-block__video img {
  max-width: 598px;
}
.five-block__card {
  max-width: 333px;
}

.five_card__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 57px;
  text-align: left;
  margin: 22px 0 18px 0;
}
.five_card__subtitle {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: left;
  margin: 0 0 40px 0;
}
.five_card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.five_card_item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.five_card_item__text {
  max-width: 278px;
}
.five_card_item__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: left;
  margin: 0 0 7px;
}
.five_card_item__subtitle {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: left;
}
.five_card_item_last {
  margin: 30px 0 0 0;
}

.six-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 51px 34px 73px 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-block__row {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #17213c;
}
.subscribe-block__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 32px;
  text-align: left;
  min-width: 266px;
  padding: 30px 0 30px 50px;
}
.subscribe-block__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 450px;
  padding: 33px 40px 33px 0;
}
.subscribe-block__email {
  display: block;
}

.bluline {
  background: #252b42;
  height: 77px;
  margin: -57px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.touch-block__title {
  margin: 80px 0 10px 0;
}
.touch-block__subtitle {
  margin: 0 280px 80px 280px;
}
.touch-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 150px 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.touch-block__card {
  min-width: 329px;
  min-height: 393px;
}

.touch_card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.touch_card__image {
  margin: 80px 0 15px 0;
}
.touch_card__email1 {
  color: #252b42;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.touch_card__email2 {
  color: #252b42;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.touch_card__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
  margin: 15px 0;
}
.touch_card__btn {
  min-width: 161px;
  min-height: 44px;
  border: 1px solid #ff7b47;
}
.touch_card__button {
  display: block;
  color: #ff7b47;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: center;
  margin: 10px 20px;
}

.touch_card_middle {
  background: #252b42;
}
.touch_card_middle__email1 {
  color: #ffffff;
}
.touch_card_middle__email2 {
  color: #ffffff;
}
.touch_card_middle__title {
  color: #ffffff;
}
.touch_card_middle__btn {
  border: 1px solid #ffffff;
}
.touch_card_middle__button {
  color: #ffffff;
}

.contact-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1050px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}
.contact-us__title {
  color: #252b42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 32px;
  text-align: left;
}
.contact-us__subtitle {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: left;
  margin: 10px 0 0 0;
}
.contact-us__button {
  margin: 0 38px 0 0;
  width: 160px;
  height: 58px;
  background-color: #ff7b47;
}
.contact-us__btn {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 28px;
  text-align: center;
  margin: 15px 37px;
  display: block;
}

.menu {
  background: #17213c;
}
.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: left;
  display: block;
  margin: 0 0 20px 0;
}
.menu__subtitle {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: left;
  display: block;
  margin: 0 0 10px 0;
}

.first-block {
  margin: 50px 59px 52px 0;
  min-width: 119px;
}

.second-block {
  margin: 50px 81px 52px 0px;
  min-width: 101px;
}

.trd-block {
  margin: 50px 32px 52px 0;
  min-width: 148px;
}

.fouth-block {
  margin: 50px 72px 52px 0;
  min-width: 110px;
}

.five-block {
  margin: 50px 0px 52px 0;
  min-width: 239px;
}

.five-block-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}
.five-block-phone__image {
  margin: 0 10px 0 0;
}
.five-block-phone__number {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: left;
}

.five-block-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
  min-height: 48px;
}
.five-block-adress__image {
  margin: 0 10px 0 0;
}
.five-block-adress__image img {
  padding: 8px 0 0 0;
}
.five-block-adress__adress {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: left;
}

.five-block-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}
.five-block-mail__image {
  margin: 0 10px 0 0;
}
.five-block-mail__mail {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: left;
}