@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/Myriad Pro Regular.eot");
  src: url("../fonts/Myriad Pro Regular.woff") format("woff"),url("../fonts/Myriad Pro Regular.ttf") format("truetype"),url("../fonts/Myriad Pro Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato","Montserrat",sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #f7f7f7;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 50;
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}

.menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -1.5px 0px 0px 0px;
}

.menu__list li:last-child:after,
.menu__list li:nth-child(2):after {
  display: none;
}

.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

.generation__block {
  margin: 117px 0px 117px 0px;
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0px 0px 30px 0px;
}

.block__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  line-height: 24px;
  margin: 0px 0px 18px 0px;
}

.block__text {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.block__text-vintage {
  color: #848789;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

.block__text-vintage:after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
}

.vintage__block {
  height: 100%;
  display: block;
  position: relative;
}

.vintage__rev .vintage__column {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.vintage__rev .vintage__column-big {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.vintage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vintage__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}

.vintage__column-big {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 66.667%;
  flex: 0 1 66.667%;
}

.vintage__content {
  padding: 80px 65px 55px 65px;
  position: relative;
}

.vintage__content:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.vintage__image {
  padding: 0px 0px 37.51% 0px;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(109,179,152,0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.item__logo span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin: 10px 0px 0px 0px;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;
}

.slider__body .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

.slider__body .slick-dots li {
  list-style: none;
  margin: 0px 4.5px;
}

.slider__body .slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #727272;
  background-color: #f7f7f7;
  border-radius: 50%;
}

.slider__body .slick-dots li.slick-active button {
  background-color: #727272;
}

.slider__icon {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.slider__title {
  margin: 0px 0px 20px 0px;
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.slider__title span {
  color: #848789;
  font-family: "Lato - Light";
  font-weight: 300;
  letter-spacing: 1.8px;
}

.slider__text {
  text-align: center;
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}

.slider__vk-icon {
  width: 34px;
  height: 34px;
}

.slider__youtube-icon {
  width: 50px;
  height: 50px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 16.666%;
  flex: 0 1 16.666%;
}

.shop__column-big {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}

.shop__footer {
  background-color: #282f35;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 75px 0px;
  text-align: center;
}

.shop__btn {
  display: inline-block;
  padding: 20px 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: #282f35;
}

.shop__btn:hover {
  color: #282f35;
  background-color: #fff;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.block-shop__item {
  padding-bottom: 50%;
  height: auto;
}

.block-shop__item-big {
  padding: 0px 0px 200.5% 0px;
}

.block-shop__item-little {
  padding: 0px 0px 100% 0px;
}

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 109px 0px;
}

.subscribe__logo {
  margin: 0px 0px 39px 0px;
}

.subscribe__label {
  color: #848789;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  margin: 0px 0px 35px 0px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.subscribe__input .input {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  background-color: #ffffff;
  color: #929292;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 24px;
  padding: 0px 28px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.subscribe__input .input:focus {
  -webkit-box-shadow: 0 0 15px #747373;
  box-shadow: 0 0 15px #747373;
}

.subscribe__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 146px;
  flex: 0 0 146px;
  padding: 0px 0px 0px 20px;
}

.subscribe__btn {
  width: 100%;
  height: 68px;
  line-height: 69px;
  background-color: #64c29e;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.subscribe__btn:hover {
  border: 1px solid #64c29e;
  background-color: #fff;
  color: #353738;
}

._error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

.footer {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}

.footer__address {
  text-align: left;
  font-family: "Lato - Italic";
  color: #848789;
  font-size: 14px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 17.87px;
}

.footer__address-bold {
  font-family: "Lato - Bold";
  font-size: 16px;
  font-weight: 700;
  color: #848789;
  font-style: normal;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social__link {
  margin: 0px 7.5px;
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dev__text {
  color: #848789;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 17.87px;
  text-align: right;
  padding: 0px 9px 0px 0px;
}

@media (max-width:1500px) {
  .block__text-vintage:after {
    margin: 15px auto 0 auto;
  }

  .vintage__content {
    padding: 40px 35px 30px 35px;
  }
}

@media (max-width:1100px) {
  .vintage__block {
    height: auto;
    padding: 0px 0px 70% 0px;
  }

  .vintage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .vintage-last .vintage__column:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .vintage-last .vintage__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .vintage-last .vintage__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }

  .slider {
    padding: 60px 0px 30px 0px;
  }

  .shop__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .shop__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .shop__column:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .shop__column:last-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .shop__footer {
    padding: 50px 0px;
  }

  .shop__btn {
    padding: 20px 30px;
  }

  .footer {
    padding: 50px 0;
  }
}

@media (max-width:900px) {
  .generation__block {
    margin: 80px 0px 80px 0px;
  }
}

@media (max-width:767px) {
  .header {
    top: 15px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    padding: 150px 0px 20px 0px;
    -webkit-transform: translate3d(0px,-100%,0px);
    transform: translate3d(0px,-100%,0px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body.active {
    -webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu__list li {
    padding: 0px 0px 45px 0px;
  }

  .menu__list li:nth-child(2),
  .menu__list li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }

  .menu__list li:nth-child(2):after,
  .menu__list li:nth-child(3):after {
    display: block;
  }

  .menu__list li:last-child {
    padding: 0;
  }

  .menu__list li:after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }

  .menu__link {
    color: #fff;
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width:750px) {
  .subscribe__body {
    padding: 50px 0px;
  }
}

@media (max-width:600px) {
  .generation__block {
    margin: 30px 0px 30px 0px;
  }

  .slider {
    padding: 30px 0px 15px 0px;
  }

  .slider__body .slick-dots {
    margin: 25px 0px 0px 0px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__address {
    text-align: center;
  }

  .footer__social {
    padding: 15px 0px;
  }
}

@media (max-width:500px) {
  .subscribe__form {
    display: block;
  }

  .subscribe__button {
    padding: 10px 0px 0px 0px;
  }
}